* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  background-image: url('../assets/chris-biron-JVtcrWcbj1c-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}