.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .heading_container {
    padding: 6rem 8rem;

    .prime_heading,
    .sec_heading {
      font-size: 96px;
      font-weight: 700;
      line-height: 82px;
    }

    .prime_heading {
      color: #4d4d4d;
      letter-spacing: -5.6px;
    }

    .sec_heading {
      color: #3e4358;
    }
  }
}
