.nav {
  display: flex;
  padding: 0 20rem;
  width: 100%;
  justify-content: space-between;

  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    .link_text {
      text-decoration: underline;
      font-style: italic;
      text-transform: uppercase;
      transition: all 0.3s ease;
      font-size: 14px;
      font-weight: 700;
      color: #535353;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}